/*

Reseteo de todos los valores por defecto del CSS del navegador

*/

*{ 
  margin: 0; 
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/*

Formato de la página

*/

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/**

HEADER

**/

.header{
  background-color: #1CD0C5;
  height: 7vh;
}

.header__title{
  color:white;
  margin-left: .3em;
  font-family: 'Ubuntu Mono', monospace;
  padding-top: .3em;
}

/**

END HEADER

**/

/**

MAIN

**/

.login{
  height: 100%;
  background-color: #B4ECE9;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login__img-main{
  height: 15.25em;
  width: 15.25em;
  margin-right: 12.5em;
  margin-top: 9.38em;
}

/**

FORM

**/

.login__form{
  margin-top: 6.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title{
  font-size: 2.63em;
  margin-bottom: 1.2em;
}

.login__input-email{
  margin-bottom: 1.2em;
  background-image: url("../img/user_black.png");
  background-position: left;
  background-size: 1.2em;
  background-repeat: no-repeat;
  border-left: none;
  z-index: 10;
}

.login__input-email,
.login__input-password{
  width: 12em;
  height: 1em;
  border-radius: 20px;
  font-size: 2em;
  outline-width: 0;
  text-align: center;
}

.login__input-password{
  margin-bottom: .3em;
  background-image: url("../img/pass_black.png");
  background-position: left;
  background-size: 1.2em;
  background-repeat: no-repeat;
  border-left: none;
}

.login__input-email::placeholder,
.login__input-password::placeholder{
  text-align: center;
}

.login__checkRecover{
  display: flex;
  margin-bottom: .6em;
}

.login__checkbox-input{
  margin-right: .3em;
}

.login__checkbox-label{
  margin-right: 3em;
}

.login__button-submit{
  background-color: #169BD5;
  color: white;
  border-radius: 40px;
  width: 10em;
  height: 1.8em;
  font-size: 1.4em;
}
/**

END FORM

**/

/**

END MAIN

**/

/**

FOOTER

**/

.footer{
  width: 100%;
  height: 6vh;
  background-color: #1CD0C5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text{
  color: white;
}

/**

END FOOTER

**/